<% status_updates ||= @status_updates %>
<turbo-stream target="status-updates" action="update">
  <template>
    <ul id="steps" class="steps" aria-live="polite">
      <% status_updates&.each do |status| %>
        <li class="step"><%= status %></li>
      <% end %>
    </ul>
  </template>
</turbo-stream>
