<% status_updates ||= @status_updates %>
<turbo-frame id="status-updates" src="/status?campaign_url=<%= ERB::Util.html_escape(@campaign_url) %>">
  <template>
    <ul id="steps" class="steps" aria-live="polite">
      <% status_updates&.each do |status| %>
        <li class="step"><%= status %></li>
      <% end %>
    </ul>
  </template>
</turbo-frame>