<div class="hero research-loading loading-page-hero" data-url="<%= ERB::Util.html_escape(@campaign_url) %>">
  <h1>Researching candidate...</h1>
  <p class="tagline">This usually takes a few seconds</p>
  <div class="spinner spinner-ring" aria-hidden="true"></div>
  <div id="status-updates">
  </div>
</div>